
 
#login-buttons {
    display: block;
}

#login-buttons a, .accounts-dialog a {
    text-decoration: none;
}
 
.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}
 
.new-task input:focus{
    outline: 0;
}
 
ul {
    margin: 0;
    padding: 0;
    background: white;
}

span.text {
    cursor: pointer;
}
 
.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}
 
div.element {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}
 
div.element .text {
    margin-left: 10px;
}
 
div.element.checked {
    color: #888;
}
 
div.element.checked .text {
    text-decoration: line-through;
}
 
div.element.private {
    background: #eee;
    border-color: #ddd;
}
 
header .hide-completed {
    float: right;
}
 
.toggle-private {
    margin-left: 5px;
}
 
@media (max-width: 600px) {
    div.element {
        padding: 12px 15px;
    }
 
    .search {
        width: 150px;
        clear: both;
    }
 
    .new-task input {
        padding-bottom: 5px;
    }
}
