<header>
  <h1>Todo List</h1>

  <button class="hide-completed btn-flat" ng-click="$ctrl.toggleHideCompleted()">
    Hide Completed Tasks
  </button>

  <login-buttons></login-buttons>

  <h5 class="complete">Completed: {{$ctrl.completeCount}}</h5>
  <h5 class="incomplete">Remaining: {{$ctrl.incompleteCount}}</h5>



  <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>
  
</header>

<div class="col s12">
  <div class="collection">
    <div ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked, 'private': task.private}" class="element">
      <button class="delete btn-flat" ng-click="$ctrl.removeTask(task)">&times;</button>
   
      <span class="text" ng-click="$ctrl.setChecked(task)">
        <strong>{{task.username}}</strong>: <em>{{task.createdAt | date:'medium' }}</em> - {{task.text}}
      </span>

      <button class="toggle-private btn-flat" ng-click="$ctrl.setPrivate(task)" ng-show="task.owner === $ctrl.currentUser._id">
        {{task.private == true ? "Private" : "Public"}}
      </button>
    </div>
  </div>
</div>